<div id="dashCNT">
  <div id="rowDash">
      <h2 class="main-title">Overview</h2>
      <div class="column">
          <app-card color="#0B3591" title="GENERAL TASKS"></app-card>
          <app-card color="#C40D0D " title="CRITICAL TASKS"></app-card>
          <app-card color="#1BB444" title="ASSIGNED TASKS"></app-card>
          <app-card color="#E5D655" title="RECENT ARCHIVED"></app-card>
      </div>
  </div>
  <div id="g" style=" width: 80%; height: 450px;">
      <div id="t">hello</div>
      <div id="o">
         <div class="online-header">
            <h2 class="t">Online</h2>
         </div>
         
         <div class="spartan-cont">
            <spartan-card *ngFor="let user of online" width="220" height="150" src="{{user}}"></spartan-card>
         </div>
      </div>
  </div>
</div>
 
